{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div id="wrapper">
    <section id="main" class="wrapper">
        <div class="inner">
            <section>
                <div class="row gtr-uniform">
                  <div class="col-6 col-12-xsmall m-auto">
                    <h1>{% trans "Change Password" %}</h1>

                    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="button fit" type="submit" name="action">{% trans "Change Password" %}</button>
                    </form>
                  </div>
                </div>
            </section>
        </div>
    </section>
</dv>
{% endblock %}
