{%extends 'base_layout.html'%}
{%load static%}
{% block title %}HtoStudios &mdash; Articles{% endblock %}
{%block meta%}<meta name="description" content="explore all of our articles, from news to educational blogposts">{%endblock%}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'assets/style/article_list.css' %}" />
{% endblock extra_head %}
{%block content%}
    <!-- Header -->
    <header id="header">
        <a href="/" class="title">HtoStudios</a>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/articles" class="active">Articles</a></li>
                {% for category in categories %}
                <li><a href="{{category.get_absolute_url}}" class="active">{{category.name}}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    <section id="one" class="wrapper style2 spotlights">
        {%for article in articles%}
            <section>
                <a href="{{article.get_absolute_url}}" class="image"><img src="{{article.thumb.url}}" alt="{{article.title}}" data-position="center center" /></a>
                <div class="content">
                    <div class="inner">
                        <h2>{{article.title}}</h2>
                        <p>{{article.date}}</p>
                        <p>{{article.snippet}}</p>
                        <ul class="actions">
                            <li><a href="/articles/{{article.slug}}" class="button">Read more</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        {%endfor%}
    </section>
{%endblock%}