{%extends 'base_layout.html'%}
{%load static%}
{% block title %} HtoStudios &mdash; {{article.title}} {% endblock %}
{%block meta%}<meta name="description" content="{{article.intro}}">{%endblock%}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'assets/style/article_detail.css' %}" />
<script src="https://kit.fontawesome.com/76e4c8eff3.js" crossorigin="anonymous"></script>
{% endblock extra_head %}
{%block content%}
		<!-- Header -->
        <header id="header">
            <a href="/" class="title">HtoStudios</a>
            <nav>
                <ul>
                    <li><a href="/" class="active">Home</a></li>
                    <li><a href="/articles">Articles</a></li>
                    <li><a href="#">Tutorials</a></li>
                    <li><a href="#">News</a></li>
                </ul>
            </nav>
		</header>
		<!-- Wrapper -->
        <div id="wrapper">
            <!-- Main -->
            <section id="main" class="wrapper">
                <div class="inner">
                    <div class="body-container">
                        <h1 class="major">{{article.title}}</h1>
                        <p>
                            <strong><a href="{{author.twitter}}" class="icon brands"> <i class="fa-brands fa-twitter fa-xl"></i> </a></strong> <strong> <a href="{{author.linkedin}}" class="icon brands"> <i class="fa-brands fa-linkedin fa-xl"></i>  </a></strong> <strong> {{author.name}}</strong> {{article.date}}
                        </p>

                        <p>{{article.intro}}</p>

                        <span class="image fit">
                            <img src="{{article.thumb.url}}" alt="{{article.title}}" class="img-fluid thumb" >
                        </span>
                        <p class="thumb-description">
                            <em>{{article.thumb_description}}</em>
                        </p>

                        {%for section in sections%}
                            {% if section.heading %}
                            <h2>{{section.heading}}</h2>
                            {% endif %}

                            {% if section.image %}
                            <span class="image fit"><img src="{{ section.image.url }}" class="img-fluid"></span>
                            {% endif %}

                            {% if section.text_body %}
                            <p>{{section.text_body}}</p>
                            {% endif %}

                            {% if section.quote %}
                            <blockquote>
                                {{section.quote}}
                            </blockquote>
                            {% endif %}

                            <!-- Video will go here -->

                            {% if section.link %}
                            <a href="/{{section.link}}/">{{section.link}}</a>
                            {% endif %}

                            {% if section.code %}
                            <pre>
                                <code class="language-{{ section.code_language }}">
                                    {{ section.code }}
                                </code>
                            </pre>
                            {% endif %}

                        {%endfor%}

                        <p>{{article.outro}}</p>
                        <!-- Previous and Next buttons -->
                    </div>
                </div>
            </section>
            <!-- Email list goes here -->
            <section class="wrapper style1 spotlights form-container">
                <section>
                    <div class="content">
                        <div class="inner">
                            <h1>Subscribe to our newsletter</h1>
                            <p>Subbscribe to our news letter for our weekly news report and to get notified when we upload new articles and tutorials.</p>
                            <form method="post" action="/articles/{{article.slug}}/">
                                {% csrf_token %}
                                <div class="row gtr-uniform">
                                    <div class="col-6 col-12-xsmall">
                                        <input type="email" name="email" id="email" value="" placeholder="Enter your email">
                                    </div>
                                    <div class="col-6 col-12-xsmall">
                                        <ul class="actions">
                                            <li><input type="submit" value="Subscribe" class="button fit"></li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </section>
            <section class="wrapper style2 spotlights">
                {%for story in stories%}
                <section>
                    <a href="{{article.get_absolute_url}}" class="image"><img src="{{story.thumb.url}}" alt="{{story.title}}" data-position="25% 25%" /></a>
                    <div class="content">
                        <div class="inner">
                            <h2>{{story.title}}</h2>
                            <p>{{story.intro}}</p>
                            <ul class="actions">
                                <li><a href="{{article.get_absolute_url}}" class="button">Read</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
                {%endfor%}
            </section>
        </div>
{%endblock%}

{% block extra_scripts %}
{% endblock extra_scripts %}